Import NumPy and pandas

Created the 'results' DataFrame and preview the first 5 rows.

In [1]:
import pandas as pd
import numpy as np

results = pd.read_csv('../data/results.csv')

results.head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup
0,1871-03-27,Scotland,England,1,0,1871 Scotland v England International,Raeburn Place,Edinburgh,Scotland,False,False
1,1872-02-05,England,Scotland,2,1,1871–72 Home Nations International,The Oval,London,England,False,False
2,1873-03-03,Scotland,England,0,0,1872–73 Home Nations International,West of Scotland F.C.,Glasgow,Scotland,False,False
3,1874-02-23,England,Scotland,1,0,1873–74 Home Nations International,The Oval,London,England,False,False
4,1875-02-15,England,Ireland,2,0,1874–75 Home Nations rugby union matches,The Oval,London,England,False,False

In [3]:
unique_stadiums = results['stadium'].value_counts()

unique_stadiums

stadium
Twickenham                                    234
Lansdowne Road                                229
Murrayfield Stadium                           176
Millennium Stadium                            134
National Stadium                              116
                                             ...
Estadio José Amalfitani                         1
Estadio Brigadier General Estanislao López      1
Royal Bafokeng Stadium                          1
Estadio Raúl Conti                              1
Optus Stadium                                   1
Name: count, Length: 237, dtype: int64

237 unique stadiums.