Import NumPy and pandas

Created the 'results' DataFrame and preview the first 5 rows.

In [1]:
import pandas as pd
import numpy as np

results = pd.read_csv('../data/results.csv')

results.head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup
0,1871-03-27,Scotland,England,1,0,1871 Scotland v England International,Raeburn Place,Edinburgh,Scotland,False,False
1,1872-02-05,England,Scotland,2,1,1871–72 Home Nations International,The Oval,London,England,False,False
2,1873-03-03,Scotland,England,0,0,1872–73 Home Nations International,West of Scotland F.C.,Glasgow,Scotland,False,False
3,1874-02-23,England,Scotland,1,0,1873–74 Home Nations International,The Oval,London,England,False,False
4,1875-02-15,England,Ireland,2,0,1874–75 Home Nations rugby union matches,The Oval,London,England,False,False

In [3]:
unique_stadiums = results['stadium'].value_counts()

unique_stadiums

stadium
Twickenham                                    234
Lansdowne Road                                229
Murrayfield Stadium                           176
Millennium Stadium                            134
National Stadium                              116
                                             ...
Estadio José Amalfitani                         1
Estadio Brigadier General Estanislao López      1
Royal Bafokeng Stadium                          1
Estadio Raúl Conti                              1
Optus Stadium                                   1
Name: count, Length: 237, dtype: int64

237 unique stadiums.

calculate score differentials:

In [5]:
results['score_diffence'] = results['home_score'] - results['away_score']

results.sort_values(
    by = 'score_diffence',
    ascending = False
).head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup,score_diffence
1566,1999-06-19,South Africa,Italy,101,0,1999 Italy rugby union tour of South Africa,Kings Park Stadium,Durban,South Africa,False,False,101
1585,1999-10-14,New Zealand,Italy,101,3,1999 Rugby World Cup,McAlpine Stadium,Huddersfield,England,True,True,98
1480,1997-06-21,New Zealand,Argentina,93,8,1997 Argentina tour of New Zealand,Athletic Park,Wellington,New Zealand,False,False,85
1529,1998-06-27,South Africa,Wales,96,13,1998 Wales tour of Zimbabwe and South Africa,Loftus Versfeld,Pretoria,South Africa,False,False,83
2745,2023-09-29,New Zealand,Italy,96,17,2023 Rugby World Cup,Parc Olympique,Lyon,France,True,True,79

check dtypes attribute to see if date column is text/object

In [6]:
results.dtypes

date              object
home_team         object
away_team         object
home_score         int64
away_score         int64
competition       object
stadium           object
city              object
country           object
neutral             bool
world_cup           bool
score_diffence     int64
dtype: object

In [13]:
def date_to_year(df):
    df['year'] = df['date'].str[:4]
    return df

results = date_to_year(results)

results.head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup,score_diffence,year
0,1871-03-27,Scotland,England,1,0,1871 Scotland v England International,Raeburn Place,Edinburgh,Scotland,False,False,1,1871
1,1872-02-05,England,Scotland,2,1,1871–72 Home Nations International,The Oval,London,England,False,False,1,1872
2,1873-03-03,Scotland,England,0,0,1872–73 Home Nations International,West of Scotland F.C.,Glasgow,Scotland,False,False,0,1873
3,1874-02-23,England,Scotland,1,0,1873–74 Home Nations International,The Oval,London,England,False,False,1,1874
4,1875-02-15,England,Ireland,2,0,1874–75 Home Nations rugby union matches,The Oval,London,England,False,False,2,1875

In [15]:
results['total_points'] = results['home_score'] + results['away_score']

results.head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup,score_diffence,year,total_points
0,1871-03-27,Scotland,England,1,0,1871 Scotland v England International,Raeburn Place,Edinburgh,Scotland,False,False,1,1871,1
1,1872-02-05,England,Scotland,2,1,1871–72 Home Nations International,The Oval,London,England,False,False,1,1872,3
2,1873-03-03,Scotland,England,0,0,1872–73 Home Nations International,West of Scotland F.C.,Glasgow,Scotland,False,False,0,1873,0
3,1874-02-23,England,Scotland,1,0,1873–74 Home Nations International,The Oval,London,England,False,False,1,1874,1
4,1875-02-15,England,Ireland,2,0,1874–75 Home Nations rugby union matches,The Oval,London,England,False,False,2,1875,2

In [21]:
results['year'] = results['year'].astype(int)

results.dtypes

date              object
home_team         object
away_team         object
home_score         int64
away_score         int64
competition       object
stadium           object
city              object
country           object
neutral             bool
world_cup           bool
score_diffence     int64
year               int64
total_points       int64
dtype: object

In [24]:
pre_1890_results = results[results['year'] < 1890]

pre_1890_results.info

<bound method DataFrame.info of           date home_team away_team  home_score  away_score  \
0   1871-03-27  Scotland   England           1           0
1   1872-02-05   England  Scotland           2           1
2   1873-03-03  Scotland   England           0           0
3   1874-02-23   England  Scotland           1           0
4   1875-02-15   England   Ireland           2           0
5   1875-03-08  Scotland   England           0           0
6   1875-12-13   Ireland   England           0           1
7   1876-03-06   England  Scotland           1           0
8   1877-02-05   England   Ireland           2           0
9   1877-02-19   Ireland  Scotland           0           6
10  1877-03-05  Scotland   England           1           0
11  1878-03-04   England  Scotland           0           0
12  1878-03-11   Ireland   England           0           2
13  1879-02-17   Ireland  Scotland           0           2
14  1879-03-10  Scotland   England           1           1
15  1879-03-24   England   Ireland           3           0
16  1880-01-30   Ireland   England           0           1
17  1880-02-14  Scotland   Ireland           3           0
18  1880-02-28   England  Scotland           2           1
19  1881-02-10   England   Ireland           2           0
20  1881-02-19   Ireland  Scotland           1           0
21  1881-02-19   England     Wales           8           0
22  1881-03-19  Scotland   England           1           1
23  1882-01-28   Ireland     Wales           0           2
24  1882-02-06   Ireland   England           0           0
25  1882-02-18  Scotland   Ireland           1           0
26  1882-03-04   England  Scotland           0           1
27  1882-12-16     Wales   England           0           2
28  1883-01-08  Scotland     Wales           3           1
29  1883-02-10   England   Ireland           1           0
30  1883-02-17   Ireland  Scotland           0           1
31  1883-03-03  Scotland   England           0           1
32  1884-01-05   England     Wales           2           1
33  1884-01-12     Wales  Scotland           0           1
34  1884-02-04   Ireland   England           0           1
35  1884-02-16  Scotland   Ireland           2           0
36  1884-03-01   England  Scotland           1           0
37  1884-04-12     Wales   Ireland           1           0
38  1885-01-03     Wales   England           1           2
39  1885-01-10  Scotland     Wales           0           0
40  1885-02-07   England   Ireland           1           0
41  1885-03-07  Scotland   Ireland           1           0
42  1886-01-02   England     Wales           2           1
43  1886-01-09     Wales  Scotland           0           2
44  1886-02-06   Ireland   England           0           1
45  1886-02-20  Scotland   Ireland           4           0
46  1886-03-13  Scotland   England           0           0
47  1887-01-08     Wales   England           0           0
48  1887-02-05   Ireland   England           2           0
49  1887-02-19   Ireland  Scotland           0           2
50  1887-02-26  Scotland     Wales           4           0
51  1887-03-05   England  Scotland           0           0
52  1887-03-12     Wales   Ireland           0           1
53  1888-02-04     Wales  Scotland           1           0
54  1888-03-03   Ireland     Wales           2           0
55  1888-03-10  Scotland   Ireland           1           0
56  1889-02-02  Scotland     Wales           1           0
57  1889-02-16   Ireland  Scotland           0           1
58  1889-03-02     Wales   Ireland           0           1

                                 competition                stadium  \
0      1871 Scotland v England International          Raeburn Place
1         1871–72 Home Nations International               The Oval
2         1872–73 Home Nations International  West of Scotland F.C.
3         1873–74 Home Nations International               The Oval
4   1874–75 Home Nations rugby union matches               The Oval
5         1874–75 Home Nations International          Raeburn Place
6   1875–76 Home Nations rugby union matches              Rathmines
7         1875–76 Home Nations International               The Oval
8   1876–77 Home Nations rugby union matches               The Oval
9   1876–77 Home Nations rugby union matches  Ormeau Cricket Ground
10        1876–77 Home Nations International          Raeburn Place
11        1877–78 Home Nations International               The Oval
12  1877–78 Home Nations rugby union matches         Lansdowne Road
13  1878–79 Home Nations rugby union matches  Ormeau Cricket Ground
14        1878–79 Home Nations International          Raeburn Place
15  1878–79 Home Nations rugby union matches               The Oval
16  1879–80 Home Nations rugby union matches         Lansdowne Road
17  1879–80 Home Nations rugby union matches      Hamilton Crescent
18        1879–80 Home Nations International          Whalley Range
19  1880–81 Home Nations rugby union matches          Whalley Range
20  1880–81 Home Nations rugby union matches  Ormeau Cricket Ground
21                                Wales tour     Richardson's Field
22        1880–81 Home Nations International          Raeburn Place
23  1881–82 Home Nations rugby union matches         Lansdowne Road
24  1881–82 Home Nations rugby union matches         Lansdowne Road
25  1881–82 Home Nations rugby union matches      Hamilton Crescent
26        1881–82 Home Nations International          Whalley Range
27            1883 Home Nations Championship             St Helen's
28            1883 Home Nations Championship          Raeburn Place
29            1883 Home Nations Championship          Whalley Range
30            1883 Home Nations Championship  Ormeau Cricket Ground
31            1883 Home Nations Championship          Raeburn Place
32            1884 Home Nations Championship        Cardigan Fields
33            1884 Home Nations Championship          Rodney Parade
34            1884 Home Nations Championship         Lansdowne Road
35            1884 Home Nations Championship      Hamilton Crescent
36            1884 Home Nations Championship          Rectory Field
37            1884 Home Nations Championship       National Stadium
38            1885 Home Nations Championship             St Helen's
39            1885 Home Nations Championship      Hamilton Crescent
40            1885 Home Nations Championship          Whalley Range
41            1885 Home Nations Championship          Raeburn Place
42            1886 Home Nations Championship          Rectory Field
43            1886 Home Nations Championship       National Stadium
44            1886 Home Nations Championship         Lansdowne Road
45            1886 Home Nations Championship          Raeburn Place
46            1886 Home Nations Championship          Raeburn Place
47            1887 Home Nations Championship           Stradey Park
48            1887 Home Nations Championship         Lansdowne Road
49            1887 Home Nations Championship  Ormeau Cricket Ground
50            1887 Home Nations Championship          Raeburn Place
51            1887 Home Nations Championship          Whalley Range
52            1887 Home Nations Championship        Birkenhead Park
53            1888 Home Nations Championship          Rodney Parade
54            1888 Home Nations Championship         Lansdowne Road
55            1888 Home Nations Championship          Raeburn Place
56            1889 Home Nations Championship          Raeburn Place
57            1889 Home Nations Championship  Ormeau Cricket Ground
58            1889 Home Nations Championship              St Helens

          city   country  neutral  world_cup  score_diffence  year  \
0    Edinburgh  Scotland    False      False               1  1871
1       London   England    False      False               1  1872
2      Glasgow  Scotland    False      False               0  1873
3       London   England    False      False               1  1874
4       London   England    False      False               2  1875
5    Edinburgh  Scotland    False      False               0  1875
6       Dublin   Ireland    False      False              -1  1875
7       London   England    False      False               1  1876
8       London   England    False      False               2  1877
9      Belfast   Ireland    False      False              -6  1877
10   Edinburgh  Scotland    False      False               1  1877
11      London   England    False      False               0  1878
12      Dublin   Ireland    False      False              -2  1878
13     Belfast   Ireland    False      False              -2  1879
14   Edinburgh  Scotland    False      False               0  1879
15      London   England    False      False               3  1879
16      Dublin   Ireland    False      False              -1  1880
17     Glasgow  Scotland    False      False               3  1880
18  Manchester   England    False      False               1  1880
19  Manchester   England    False      False               2  1881
20     Belfast   Ireland    False      False               1  1881
21  Blackheath   England    False      False               8  1881
22   Edinburgh  Scotland    False      False               0  1881
23      Dublin   Ireland    False      False              -2  1882
24      Dublin   Ireland    False      False               0  1882
25     Glasgow  Scotland    False      False               1  1882
26  Manchester   England    False      False              -1  1882
27     Swansea     Wales    False      False              -2  1882
28   Edinburgh  Scotland    False      False               2  1883
29  Manchester   England    False      False               1  1883
30     Belfast   Ireland    False      False              -1  1883
31   Edinburgh  Scotland    False      False              -1  1883
32       Leeds   England    False      False               1  1884
33     Newport     Wales    False      False              -1  1884
34      Dublin   Ireland    False      False              -1  1884
35     Glasgow  Scotland    False      False               2  1884
36  Blackheath   England    False      False               1  1884
37     Cardiff     Wales    False      False               1  1884
38     Swansea     Wales    False      False              -1  1885
39     Glasgow  Scotland    False      False               0  1885
40  Manchester   England    False      False               1  1885
41   Edinburgh  Scotland    False      False               1  1885
42  Blackheath   England    False      False               1  1886
43     Cardiff     Wales    False      False              -2  1886
44      Dublin   Ireland    False      False              -1  1886
45   Edinburgh  Scotland    False      False               4  1886
46   Edinburgh  Scotland    False      False               0  1886
47    Llanelli     Wales    False      False               0  1887
48      Dublin   Ireland    False      False               2  1887
49     Belfast   Ireland    False      False              -2  1887
50   Edinburgh  Scotland    False      False               4  1887
51  Manchester   England    False      False               0  1887
52  Birkenhead   England     True      False              -1  1887
53     Newport     Wales    False      False               1  1888
54      Dublin   Ireland    False      False               2  1888
55   Edinburgh  Scotland    False      False               1  1888
56   Edinburgh  Scotland    False      False               1  1889
57     Belfast   Ireland    False      False              -1  1889
58     Swansea     Wales    False      False              -1  1889

    total_points
0              1
1              3
2              0
3              1
4              2
5              0
6              1
7              1
8              2
9              6
10             1
11             0
12             2
13             2
14             2
15             3
16             1
17             3
18             3
19             2
20             1
21             8
22             2
23             2
24             0
25             1
26             1
27             2
28             4
29             1
30             1
31             1
32             3
33             1
34             1
35             2
36             1
37             1
38             3
39             0
40             1
41             1
42             3
43             2
44             1
45             4
46             0
47             0
48             2
49             2
50             4
51             0
52             1
53             1
54             2
55             1
56             1
57             1
58             1  >