Import NumPy and pandas

Created the 'results' DataFrame and preview the first 5 rows.

In [1]:
import pandas as pd
import numpy as np

results = pd.read_csv('../data/results.csv')

results.head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup
0,1871-03-27,Scotland,England,1,0,1871 Scotland v England International,Raeburn Place,Edinburgh,Scotland,False,False
1,1872-02-05,England,Scotland,2,1,1871–72 Home Nations International,The Oval,London,England,False,False
2,1873-03-03,Scotland,England,0,0,1872–73 Home Nations International,West of Scotland F.C.,Glasgow,Scotland,False,False
3,1874-02-23,England,Scotland,1,0,1873–74 Home Nations International,The Oval,London,England,False,False
4,1875-02-15,England,Ireland,2,0,1874–75 Home Nations rugby union matches,The Oval,London,England,False,False

In [3]:
unique_stadiums = results['stadium'].value_counts()

unique_stadiums

stadium
Twickenham                                    234
Lansdowne Road                                229
Murrayfield Stadium                           176
Millennium Stadium                            134
National Stadium                              116
                                             ...
Estadio José Amalfitani                         1
Estadio Brigadier General Estanislao López      1
Royal Bafokeng Stadium                          1
Estadio Raúl Conti                              1
Optus Stadium                                   1
Name: count, Length: 237, dtype: int64

237 unique stadiums.

calculate score differentials:

In [5]:
results['score_diffence'] = results['home_score'] - results['away_score']

results.sort_values(
    by = 'score_diffence',
    ascending = False
).head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup,score_diffence
1566,1999-06-19,South Africa,Italy,101,0,1999 Italy rugby union tour of South Africa,Kings Park Stadium,Durban,South Africa,False,False,101
1585,1999-10-14,New Zealand,Italy,101,3,1999 Rugby World Cup,McAlpine Stadium,Huddersfield,England,True,True,98
1480,1997-06-21,New Zealand,Argentina,93,8,1997 Argentina tour of New Zealand,Athletic Park,Wellington,New Zealand,False,False,85
1529,1998-06-27,South Africa,Wales,96,13,1998 Wales tour of Zimbabwe and South Africa,Loftus Versfeld,Pretoria,South Africa,False,False,83
2745,2023-09-29,New Zealand,Italy,96,17,2023 Rugby World Cup,Parc Olympique,Lyon,France,True,True,79

check dtypes attribute to see if date column is text/object

In [6]:
results.dtypes

date              object
home_team         object
away_team         object
home_score         int64
away_score         int64
competition       object
stadium           object
city              object
country           object
neutral             bool
world_cup           bool
score_diffence     int64
dtype: object

In [13]:
def date_to_year(df):
    df['year'] = df['date'].str[:4]
    return df

results = date_to_year(results)

results.head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup,score_diffence,year
0,1871-03-27,Scotland,England,1,0,1871 Scotland v England International,Raeburn Place,Edinburgh,Scotland,False,False,1,1871
1,1872-02-05,England,Scotland,2,1,1871–72 Home Nations International,The Oval,London,England,False,False,1,1872
2,1873-03-03,Scotland,England,0,0,1872–73 Home Nations International,West of Scotland F.C.,Glasgow,Scotland,False,False,0,1873
3,1874-02-23,England,Scotland,1,0,1873–74 Home Nations International,The Oval,London,England,False,False,1,1874
4,1875-02-15,England,Ireland,2,0,1874–75 Home Nations rugby union matches,The Oval,London,England,False,False,2,1875