Import NumPy and pandas

Created the 'results' DataFrame and preview the first 5 rows.

In [1]:
import pandas as pd
import numpy as np

results = pd.read_csv('../data/results.csv')

results.head()

,date,home_team,away_team,home_score,away_score,competition,stadium,city,country,neutral,world_cup
0,1871-03-27,Scotland,England,1,0,1871 Scotland v England International,Raeburn Place,Edinburgh,Scotland,False,False
1,1872-02-05,England,Scotland,2,1,1871–72 Home Nations International,The Oval,London,England,False,False
2,1873-03-03,Scotland,England,0,0,1872–73 Home Nations International,West of Scotland F.C.,Glasgow,Scotland,False,False
3,1874-02-23,England,Scotland,1,0,1873–74 Home Nations International,The Oval,London,England,False,False
4,1875-02-15,England,Ireland,2,0,1874–75 Home Nations rugby union matches,The Oval,London,England,False,False

Check the data types of results using .info arttribute

2783 entries

In [2]:
results.info

<bound method DataFrame.info of             date    home_team     away_team  home_score  away_score  \
0     1871-03-27     Scotland       England           1           0
1     1872-02-05      England      Scotland           2           1
2     1873-03-03     Scotland       England           0           0
3     1874-02-23      England      Scotland           1           0
4     1875-02-15      England       Ireland           2           0
...          ...          ...           ...         ...         ...
2778  2024-07-13    Argentina        France          33          25
2779  2024-08-10    Australia  South Africa           7          33
2780  2024-08-10  New Zealand     Argentina          30          38
2781  2024-08-17  New Zealand     Argentina          42          10
2782  2024-08-17    Australia  South Africa          12          30

                                   competition                      stadium  \
0        1871 Scotland v England International                Raeburn Place
1           1871–72 Home Nations International                     The Oval
2           1872–73 Home Nations International        West of Scotland F.C.
3           1873–74 Home Nations International                     The Oval
4     1874–75 Home Nations rugby union matches                     The Oval
...                                        ...                          ...
2778             2024 France tour of Argentina      José Amalfitani Stadium
2779                   2024 Rugby Championship              Suncorp Stadium
2780                   2024 Rugby Championship  Wellington Regional Stadium
2781                   2024 Rugby Championship                    Eden Park
2782                   2024 Rugby Championship                Optus Stadium

              city      country  neutral  world_cup
0        Edinburgh     Scotland    False      False
1           London      England    False      False
2          Glasgow     Scotland    False      False
3           London      England    False      False
4           London      England    False      False
...            ...          ...      ...        ...
2778  Buenos Aires    Argentina    False      False
2779      Brisbane    Australia    False      False
2780    Wellington  New Zealand    False      False
2781      Auckland  New Zealand     True      False
2782         Perth    Australia    False      False

[2783 rows x 11 columns]>